$font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

$cardScale: 0.5;
$cardWidth: 270px;
$cardHeight: 378px;
$cardSpacing: 2px;

$handWidth: 7 * ($cardWidth * $cardScale + 2 * $cardSpacing);

$outlineColor: #9c9c9c;
$contrastColor: #ffd200;

$resizeTransition: 0.2s ease;

@mixin disable-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: $font;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

input[type=text] {
	border: 0;
	border-bottom: 3px solid black;
	font-family: $font;
	font-weight: 700;
	outline: none;

	&.invalid {
		border-color: red;

		&::-webkit-input-placeholder, &:-ms-input-placeholde, &:-moz-placeholder, &::placeholder {
			color: red;
		}
	}
}

#game-wrapper {
	background-color: #f0f0f0;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;

	#chat-container {
		background-color: white;
		position: absolute;
		width: 13%;
		height: calc(80% - #{$cardHeight * $cardScale});
		right: 10%;
		top: 10%;
		border: solid 1px $outlineColor;
		transition: $resizeTransition;
		z-index: 5;
		padding: 10px;

		@media only screen and (max-width: $handWidth + 270px) {
			right: 0;
			top: 0;
			border-top: 0;
			border-right: 0;
			height: calc(100% - #{$cardHeight * $cardScale} - 33px);
			width: 20%;
		}

		@media only screen and (max-width: $handWidth) {
			height: calc(100% - #{$cardHeight * $cardScale} - 51px);
			width: 25%;
		}

		h1 {
			font-size: 1.3em;
			margin: 3px 0;
		}

		#chat-history {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 80%;
			margin: 10px 0;
			overflow-y: scroll;
			overflow-x: hidden;

			@media only screen and (max-width: $handWidth + 270px) {
				height: 85%;
			}

			> :first-child {
			  margin-top: auto !important;
			}

			&::-webkit-scrollbar {
			  width: 0;
			}

			.msg-container {
				margin: 10px 0;
				width: 100%;

				&.system-msg {
					font-style: italic;
					color: #636363;
				}

				h2 {
					font-size: 1em;
					margin: 0;
				}

				p {
					margin: 0;
				}
			}
		}

		input[type=text] {
			width: 100%;
			font-size: 16px;
		}
	}

	.card-storage {
		background-color: white;
		width: $cardWidth * $cardScale;
		height: $cardHeight * $cardScale;
		position: absolute;
		padding: 10px 0;
		border: solid 1px $outlineColor;

		&.ui-droppable-hover {
			border-color: black;
		}

		&#hand { 
			width: 80%;
			bottom: 0;
			left: 10%;
			right: 10%;
			padding-bottom: 2px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			border-bottom: none;
			transition: $resizeTransition;

			@media only screen and (max-width: $handWidth + 270px) {
				width: 100%;
				left: 0;
				right: 0;
				border-left: 0;
				border-right: 0;
			}

			@media only screen and (max-width: $handWidth) {
				overflow-y: hidden;
				overflow-x: scroll;
				padding-bottom: 20px;
				justify-content: flex-start;

				&::-webkit-scrollbar {
				  height: 15px;
				}

				&::-webkit-scrollbar-thumb {
				  border-radius: 25px;
				  background-color: $contrastColor;
				}

				&::-webkit-scrollbar-track {
				  border-radius: 25px;
				  background-color: transparent;
				}
			}

			.card {
				flex: 0 0 auto;
				margin: 0 $cardSpacing;
			}
		}

		&#deck {
			left: 20px;
			top: 20px;
			padding: 10px;
		}
	}
}

.card {
  height: $cardHeight * $cardScale;
  width: $cardWidth * $cardScale;
  -webkit-border-radius: 18px * $cardScale;
  -moz-border-radius: 18px * $cardScale;
  border-radius: 18px * $cardScale;
  z-index: 2;

  &.black {
	  background-color: black;
	  color: white;
	}

	&.white {
	  background-color: white;
	  color: black;
	  border: solid 1px black;
	}

	&:hover {
		transform: scale(1.02);
		z-index: 3;
	}

	&.ui-draggable-dragging {
		transform: scale(1.02) rotate(2deg);
		z-index: 3;
	}

	.card-text::selection {
		background-color: $contrastColor;
	}

	&.front {
	  background-size: 25px * $cardScale;
	  background-repeat: no-repeat;
	  background-position: 16px * $cardScale 333px * $cardScale;

	  &.black {
		  background-image: url(cah-logo-black.svg);
		}

		&.white {
		  background-image: url(cah-logo-white.svg);
		}

		.card-text {
		  font: 24px * $cardScale $font;
		  font-weight: 700;
		  padding: 18px * $cardScale 20px * $cardScale;
		  color: inherit;
		  @include disable-selection;
		}

		.card-text::after {
		  content: "Cards Against Humanity";
		  display: block;
		  bottom: 0;
		  position: absolute;
		  font: 9px * $cardScale $font;
		  font-weight: 700;
		  padding-bottom: 28px * $cardScale;
		  padding-left: 22px * $cardScale;
		}

		.special {
			&::before {
				display: block;
				position: absolute;
				font: 18px * $cardScale $font;
				font-weight: 700;
				color: white;
				right: 52px * $cardScale;
			}

			&.pick::before {
				content: "PICK";
				bottom: 26px * $cardScale;
			}

			&.draw::before {
				content: "DRAW";
				bottom: 58px * $cardScale;
			}

			&::after {
				display: block;
				position: absolute;
				background-color: white;
				height: 26px * $cardScale;
				width: 26px * $cardScale;
				color: black;
				text-align: center;
				border-radius: 15px * $cardScale;
				font: 18px * $cardScale $font;
				font-weight: 700;
				line-height: 25px * $cardScale;
				right: 22px * $cardScale;
				content: "2";
			}

			&.pick::after {
				bottom: 23px * $cardScale;
			}

			&.draw::after {
				bottom: 55px * $cardScale;
			}

			&.pick.pick-three::after {	
				content: "3";
			}
		}
	}

	&.back {
		.card-text {
		  font: 40px * $cardScale $font;
		  font-weight: 700;
		  padding: 18px * $cardScale 20px * $cardScale;
		  padding-top: 30px * $cardScale;
		  @include disable-selection;
		}
	}
}

$overlayWidth: 450px;
$overlayHeight: 300px;

#overlay-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;

	#overlay-window {
		position: fixed;
		top: 50%;
		left: 50%;
		width: $overlayWidth;
		transform: translate(-50%, -50%);
		background-color: white;
		border: 3px solid black;
		border-radius: 18px;

		@media only screen and (max-width: $overlayWidth + 40px) {
			width: 100%;
			border-radius: 0;
		}

		#settings-panel {
			padding: 20px;
			text-align: center;
			align: center;

			input[type=text] {
				width: 250px;
				border-bottom-width: 4px;
				font-size: 20px;
				font-weight: 700;
			}

			input[type=submit], button {
				background-color: $contrastColor;
				border: 4px solid black;
				border-radius: 18px;
				font: 20px $font;
				font-weight: 700;
				padding: 10px 18px;
				margin: 10px;
				text-decoration: none;
				cursor: pointer;
				outline: none;
			}
		}
	}
}